#up_div {
    width: 100%;
    height: 30px;
    background-color: lightseagreen;
    padding: 2px;
}
div.up_button {
    width: 30px;
    height: 30px;
}
div.up_button img {
    width: 30px;
    height: 30px;
}
body{
    background-color: white;
}
.errorlist{
    color: #c30006;
    font-weight: bold;
}