{% extends 'bb/root.html' %}

{% block body_content %}
<table>
    <tr>
        <td>
        {% for rubric in rubrics %}
            -- <a href="{% url 'bb_by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        <hr>
        {% endfor %}
        </td>
        <td>
            {% for bb in bbs %}
                {{ bb.name }} <br>
                {% if bb.picture %}
                    <img src="{{ bb.picture.url }}" width="150px" height="150px"/>
                {% endif %}
                {{ bb.description }} <br>
                {{ bb.cost }} {{ bb.curr }} <br>
                {{ bb.rubric }}
                <hr>
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock body_content %}