{% extends 'bb/root.html' %}

{% block body_content %}
<table>
    <tr>
        <td>
            <select size="10" id="filter_rubric_list">
                {% for rubric in rubrics %}
                <option value="{{ rubric.pk }}"{% if rubric.pk == selected_rubric %} selected{% endif %}>{{ rubric.name }}({% for key, value in rubrics_flag.items %}{% if rubric.pk == key %}{{ value }}{% endif %}{% endfor %})</option>
                {% endfor %}
            </select>
        <hr>

        </td>
        <td>
            <select id="select_order">
            {% for sort_key, sorted_value in sorting_dict.items %}
                <option value="{{ sort_key }}"{% if sort_key == selected_order %} selected{% endif %}>{{ sorted_value }}</option>
            {% endfor %}
            </select>
            <hr>
            {% for bb in bbs %}
                <a href="{% url 'update_bb' bb.pk %}">{{ bb.name }}</a> <br>
                {% if bb.picture %}
                    <img src="{{ bb.picture.url }}" width="150px" height="150px"/>
                {% endif %}
                {{ bb.description }} <br>
                {{ bb.cost }} {{ bb.curr }} <br>
                {{ bb.rubric }}
                <hr>
            {% endfor %}
        </td>
    </tr>
</table>
<script>
    function update_params() {
        var myObject = {};
        if ($('#select_order option:checked').length > 0) {
            myObject['order'] = $('#select_order option:checked').val()
        }
        if ($('#filter_rubric_list option:checked').length > 0) {
            myObject['filter_rubric'] = $('#filter_rubric_list option:checked').val()
        }
        window.location.href = location.protocol + '//' + location.host + location.pathname + '?' + decodeURIComponent( $.param( myObject ) );
    }
    $("#select_order").on("change", update_params );
    $("#filter_rubric_list").on("change", update_params );
</script>
{% endblock body_content %}